

 :root {
    --bs-body-bg: var(--bs-gray-100);
    --bs-red-rgb: orange;
  }
  
body{
    background-image: url('../imagens/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(168, 87, 33)!important;
}
.btn-outline-success {
    --bs-btn-color: #87192a;
    --bs-btn-border-color: #871919;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #871919;
    --bs-btn-hover-border-color: #871919;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fd0d0d;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d70b0b;
    --bs-btn-hover-border-color: #ca0a3c;
}
.btn-outline-secondary {
    --bs-btn-color: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
}